<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MongoConnectionString" value="mongodb://localhost:27017"/>
		<add key="MongoDatabase" value="dummy"/>
		<add key="MongoCollection" value="data_entry"/>
		<add key="MqttBroker" value="192.168.0.210"/>
		<add key="MqttPort" value="1883"/>
		<add key="MqttTopic" value="dt/#"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
